*{margin:0;padding:0;font-family:'Microsoft YaHei';}
body{background: #f8f8f8;}
li{list-style: none;}
a{text-decoration: none;}
.menu{
	position: fixed;
	bottom:0;left:0;
	width: 100%;
	height: 0.98rem;
	background: #fff;
	box-shadow: 0 0 10px #eee;
}
.menu ul{
	width: 7.1rem;
	margin:0 auto;
}
.menu ul li{
	float: left;
	width: 25%;
	height: 0.98rem;
	text-align: center;
}
.menu ul li div{
	width: 0.41rem;
	height: 0.43rem;
	padding-top:0.13rem;
	margin:0 auto;
}
.menu ul li div img{
	width: 0.41rem;
	height: 0.43rem;
	float: left;
}
.menu ul li p{
	font-size:0.2rem;
	margin-top:0.05rem;
	color: #999;
}
.menu ul li.dex p{
	color: #eb702d;
}